[Unit]
Description=Service to forward sensor data to web
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
WorkingDirectory=/home/ingest/ingest-deno
User=ingest
ExecStart=/home/ingest/.deno/bin/deno run --unstable --allow-net --allow-write=sensor-data.db --allow-write=sensor-data.db-journal --allow-read --allow-env --watch src/server.ts >> /home/ingest/ingest-deno/logs 2>&1

[Install]
WantedBy=multi-user.target